th ,td{
    border: 1px solid #c9c9c9;
    border-radius: 3px;
    padding: 0.5rem;
    text-align: center;
    font-weight:normal;
    font-size: 12px;

}


.barProgress{
    padding-left: 0px;
    .prgress{
        background-color: transparent;
        .progress-bar1{
            height: 1.5rem;
            width:49%;
            background-color: #93D4D6;
            border-top-right-radius: 2rem;
            border-bottom-right-radius: 2rem;
        }
        .progress-bar2{
            height: 1.5rem;
            width: 80%;
            background-color: #9DEACE;
            border-top-right-radius: 2rem;
            border-bottom-right-radius: 2rem;
        }
    }
}
::-webkit-scrollbar{
    width: 7px;
    height: 7px;
}
::-webkit-scrollbar-thumb{
    background: #00363A;
    border-radius: 5px;
}
.primerProducto{
    margin: 3rem 12rem 3rem 12rem;
    overflow-x: auto;
    
}
.pPrimerProducto{
    margin: 3rem 12rem 3rem 12rem;
    text-align: center;
    padding: 1rem;

}
.segundoProducto{
    margin: 3rem 12rem 3rem 12rem;
    overflow-x: auto;
    
}
.pSegundoProducto{
    margin: 3rem 12rem 3rem 12rem;
    text-align: center;
    padding: 1rem;
}
.col_1{
    background-color: #8AA39B;
}
.col_2{
    background-color: #8AA39B;
}
th{
    background-color: white;
}